* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-size: 18px;
    line-height: 25px;
    font-family: 'Dela Gothic One', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Noto Sans Georgian', sans-serif;
}
h3,h4{
    font-family: 'Dela Gothic One', cursive;
}
ul{
    color: #757575;
    font-family: Montserrat;
}
p{

    font-family: Montserrat;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    background-color: #F6F5F4;
    min-height: 88px;
}
.container{
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__top {
    margin: 0 auto;
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header.container-line::after {
    content: "";
    border-bottom: 2px solid #E0E0E0;
    width: 100%;
    position: absolute;
    top: 88px;
}

.header__top ul {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
}
.title{
    font-family: 'Dela Gothic One', cursive;
    padding-right: 50px;
    font-weight: 400;
    color: #000;
    cursor: pointer;
}
.title::after{
    content:"";
    border-right: #E0E0E0 solid 3px;
    height: 19px;
    width: 3px;
    position: absolute;
    left: 168px;
    top: 36px;
}
.header__top li {
    padding-right: 30px;
    color: #757575;
    font-size: 16px;
}
.left__nav li{
    display: flex;
    align-items: center;
}
.left__nav li:hover{
    color:#000000;
    font-weight: 600;
}
.global {
    font-size: 20px;
    color: #000;
    font-weight: 800;
    line-height: 100%;
    /* 20.861px */
}
.games-svg{
    padding-right: 50px;
}
.games-svg::after {
    content: "";
    width: 14px;
    height: 14px;
    background-repeat: no-repeat;
    background-image: url(./img/games.svg);
    position: absolute;
}
.alex-nav{
    position: relative;
}
.alex-nav::before{
    content: "";
    width: 41px;
    height: 41px;
    background-repeat: no-repeat;
    background-image: url(./img/alex.svg);
    position: absolute;
    right: 49px;
    top: -9px;
}
.sign-hover{
    width: 135px;
}
.sign-hover:hover{
    font-weight: 700;
    color:#000000;
}

/* section above header */

.about{
    background-color: #F6F5F4;
    min-height: 740px;

}
.about-set{
    background-image: url(./img/background-about.jpg); 
    background-repeat: no-repeat;
    background-size: 933px 601px;
    background-position: 770px 137px;
    background-color: #F6F5F4;
}
.about-box{
    
    padding-top: 95px;
    display: flex;
    margin: 0 auto;  
}
.left-content{
    max-width: 530px;
    height: 510px;
    margin-left: 30px;
}
.left-content h2{
    margin-left:5px;
    letter-spacing: 2.24px;
    color: #2B788B;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
}
.left-content h3{
    max-width: 530px;
    margin-top: 24px;
    font-size: 56px;
    font-weight: 400;
    line-height: 67px;
}
.left-content p:nth-child(3){
    font-family: Montserrat;
    color: #757575;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    width: 397px;
    padding-top: 32px;
}

.left-content li{
    display: block;
    text-align: center;
    margin-top: 32px;
    border-radius: 17px;
    color: #2B788B;
    background-color: #C3DCE3 ;
    width: 165px;
    height: 44px;
    font-size: 16px;
    font-weight: 700;
}
.left-content a{
    display: block;
    padding-top: 9px;
}
.number-items{
    display: flex;
    justify-content: space-between;
    margin-top: 39px;
    width: 352px;
    height: 65px;

}
.left-number{
    position: relative;
    width: 163px;
    height: 65px;
    background-image: url(./img/left-number600.png);
    background-repeat: no-repeat;
    background-position-x: right;
}
.left-number p{
    font-size: 16px;
    font-weight: 600;
    font-family: Montserrat;
    color: #585858;
    text-align: center;
    padding-top: 40px;
}
.left-number::before{
    content: "";
    background-image: url(./img/number-symbol.svg);
    position: absolute;
    width: 24px;
    height: 30px;
    top: 8px;
}
.right-number{
    background-image: url(./img/number2+.png);
    background-repeat: no-repeat;
    width: 92px;
    height: 62px;
    background-position-x: right;
}
.right-number::before{
    content: "";
    width: 24px;
    height: 30px;
    position: absolute;
    background-image: url(./img/right-number2+.png);
}
.right-number p{
    font-family: Montserrat;
    color: #757575;
    padding-top: 40px;
    font-size: 16px;
    font-weight: 600;
    width: 99px;
    height: 22px;
}
/* .right-content{
    width: 734px;
    height: 601px;
    background-image: url(./img/background-about.jpg);
    background-repeat: no-repeat;
    position: absolute;
    left: 700px;
    top: 245px;
} */
@media (max-width:1470px){
    .about{
        background-position: 481px 266px;
        background-size: 50%;
    }
}
@media (max-width:835px){
    .about{
        background-image: none;
    }
    .header__top{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .title::after{
        content: none;
    }
    .about-box{
        justify-content: center;
    }
    .left-content{
        margin-left: 0;
    }
    .left-content h3{
        font-size: 45px;
        text-align: center;
    }
    .left-content h2{
        text-align: center;
        margin: 0 auto;
    }
    .left-content p:nth-child(3){
        text-align: center;
        margin: 0 auto;
    }
    .left-content li{
        margin: 25px auto;
    }
    .number-items{
        margin: 25px auto;
    }
}
@media (max-width:680px){
    .games-svg{
        padding-right: 5px;
    }
}
@media (max-width:560px){
    .left-content h3 {
        max-width: 300px;
        margin: 0 auto;
        font-size: 27px;
        font-weight: 200;
        line-height: 45px;
    }
   .about-box{
        padding-top: 5px;
   }
    .header__top ul{
        flex-direction: column;
        margin: 13px auto;
    }
    .about{
        padding-top: 90px;
    }
    .right-nav{
        margin-top: 20px;
    }
    .header.container-line::after{
        content: none;
    }
    .left-content h2{
        font-size: 13px;
        width: 276px;
        text-align: center;
    }
    .left-content p:nth-child(3){
       max-width: 300px;  
    }
    .number-items{
        justify-content: center;
    }
}
@media (max-width:400px){
    .header__top{
        display: table;
    }
    .about-box{
        padding-top: 40px;
    }
    .left-content h3{
        font-size: 22px;
        width: 200px;
    }
    .number-items{
        flex-direction: column;
        align-items: center;
        margin-top: 60px;
    }
    .left-content p:nth-child(3){
        max-width: 200px;  
    }
}

/* about-box_learn(SECTION) */
section p{
    color: #757575;
    font-size: 18px;
    line-height: 25px;
    margin: 34px auto;
}
    
.container-set{
    display: flex;
    justify-content: space-between;
}
.learn-box{
    margin: 121px auto;
    max-width: 475px;
    max-height: 351px;
}
.section-title{
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -1.92px;
}
.learn-background{
    margin: 78px auto;
    width: 580px;
    height: 445px;
}
.learn-button{
    margin: 44px auto;
}
.learn-img img:first-child{
    margin-right: 21px;
}

/* section-vocabulary */

.vocabulary{
    background-color:#F6F5F4;
}
.vocabulary-box{
    max-width: 254px;
    max-width: 475px;
    margin: 134px auto
}
.textbook-img{
    margin-top: 26px;
    max-width: 581px;
    max-height: 475px ;
}

 /* section-statistics */

 .statistics-img{
    margin: 96px auto;
 }
 .statistics-box{
    max-width: 475px;
    max-height: 302px;
    margin: 149px auto;
 }

 /* FOOTER - SECTION */
.footer{
    background-color: #F6F5F4;
    min-height: 160px;
}
.footer-container{
    justify-content: ;
}
.footer-box{
    font-weight: 600;
    margin: 40px auto;
    
}
 .footer-box_top{
    display: flex;
    justify-content: space-between;
    max-height: 20px;
    margin: 40px auto 0;
    position: relative;
 }
 .footer-box_top::after{
    content: "";
    border-bottom: #E0E0E0 solid;
    width: 100%;
    max-height: 1px;
    position: absolute;
    bottom: -20px;
}
 .footer-box_top ul{
    display: flex;
    font-size: 14px;
    font-family: Montserrat;
 }
 .footer-box_top ul li:not(:last-child){
    padding-right: 30px;
 }
 .footer-box_bottom{
    margin: 40px auto;
    max-height: 26px;
    display: flex;
    justify-content: space-between;
 }
 .footer-icon{
    margin-top: -10px;
 }
 .project{
    font-size: 12px;
    color: #757575;
    margin-top: -7px;
    font-weight: 600;
 }
 .project span{
    text-decoration-line: underline;
 }
